$primary-color: #3333FF;

.sidebar {
    background: $primary-color;
    width: 260px;
    display: flex;
    flex-direction: column;


    .sidebar-header {
        padding: 16px;
        border-bottom: 1px solid #474FF6;
        display: flex;
        align-items: center;

        &_logo {
            width: 115px;
        }

        &_user {
            flex-grow: 1;
            text-align: right;
        }

        &_btn {
            margin-top: 40px;
            align-self: center;

        }
    }

    .sidebar-links {
        padding: 40px 8px;
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
            margin: 0;
            padding: 0;
            color: white;
            list-style: none;

            li {
                margin: 0;

                .item {
                    padding: 16px;
                    display: flex;
                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;

                    &_icon {
                        margin-right: 10px;
                        width: 18.89px;
                        height: 18.89px;
                        align-self: end;
                    }

                    &:hover,
                    &.active {
                        background: #5252FF;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}

.page-footer {
    border-top: 1px solid #474FF6;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 18px;
    justify-content: center;
}

.user-avatar {
    background: #E7E7FF;
    border-radius: 100%;
    text-align: center;
    color: #3333FF;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding: 12px 12px;

    @media screen and (max-width: 800px) {
        display: none;
    }

}

.breadcrumb {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
    border-bottom: 1px solid #E5E9F0;

    @media screen and (max-width: 800px) {
        border: none;
    }


    ul {
        display: contents;
        list-style: none;

        li {
            display: inline;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #9BA1B3;

            &:hover {
                cursor: pointer;
            }
        }

        li+li:before {
            padding: 8px;
            content: ">\00a0";
        }

    }

}

.text-banner {
    color: #525A67;
    font-size: 12px;
    align-items: center;
    margin-bottom: 32px;
    padding: 0px 48px;

    h2 {
        color: #080826;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }

    span {
        font-weight: 700;
        line-height: 24px;
    }
}


.button {
    align-self: center;

    height: 40px;
    border-radius: 40px;
    padding: 5px 32px;
    border: none;
    color: #ffffff;
    cursor: pointer;

    &.primary {
        background: #3333FF;
    }

    &.secondary {
        background: #FF0066;
    }

}


.tabs {
    width: 100%;
    height: 100%;

    .tab-headers {
        padding: 0px 32px;
        display: flex;
        justify-content: space-between;
    }

    .tab-list {
        padding-left: 0;
    }

    .tab-list-item {
        display: inline-block;
        list-style: none;
        margin-bottom: -1px;
        padding: 32px 0.75rem;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        color: #9BA1B3;
    }

    .tab-list-active {
        color: #3333FF;
        border-bottom: solid #3333FF;
    }

    .tab-content {
        margin: 32px;
        margin-top: 44px;
        min-height: 70%;
    }
}


.badges {
    background: #eee;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 42px;
    color: #525A67;
    text-transform: capitalize;
    position: relative;

    &.outstanding {
        background: #E7E7FF;
        color: #3333FF;
    }

    &.cancelled {
        background: #E5E9F0;
        color: #525A67;
    }

    &.paid {
        background: #E3FAF1;
        color: #2DB37C;
    }

}