$primary-color: #3333FF;

.sidebar {
    background: $primary-color;
    width: 260px;
    display: flex;
    flex-direction: column;


    .sidebar-header {
        padding: 16px;
        border-bottom: 1px solid #474FF6;
        display: flex;
        align-items: center;

        &_logo {
            width: 115px;
        }

        &_user {
            flex-grow: 1;
            text-align: right;
        }

        &_btn {
            margin-top: 40px;
            align-self: center;
            background: #FF0066;
            height: 40px;
            border-radius: 40px;
            padding: 5px 32px;
            border: none;
            color: #ffffff;
            cursor: pointer;

        }
    }

    .sidebar-links {
        padding: 40px 8px;
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
            margin: 0;
            padding: 0;
            color: white;
            list-style: none;

            li {
                margin: 0;

                .item {
                    padding: 16px;
                    display: flex;
                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;

                    &_icon {
                        margin-right: 10px;
                        width: 18.89px;
                        height: 18.89px;
                        align-self: end;
                    }

                    &:hover,
                    &.active {
                        background: #5252FF;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}

.page-footer {
    border-top: 1px solid #474FF6;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 18px;
    justify-content: center;
}

.user-avatar {
    background: #E7E7FF;
    border-radius: 100%;
    text-align: center;
    color: #3333FF;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding: 12px 12px;

    @media screen and (max-width: 800px) {
        display: none;
    }

}

.breadcrumb {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
    border-bottom: 1px solid #E5E9F0;

    @media screen and (max-width: 800px) {
        border: none;
    }


    ul {
        display: contents;
        list-style: none;

        li {
            display: inline;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #9BA1B3;

            &:hover {
                cursor: pointer;
            }
        }

        li+li:before {
            padding: 8px;
            content: ">\00a0";
        }

    }

}

.text-banner {
    color: #525A67;
    font-size: 12px;
    align-items: center;
    margin-bottom: 32px;
    padding: 0px 48px;

    h2 {
        color: #080826;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }

    span {
        font-weight: 700;
        line-height: 24px;
    }
}

.table-wrapper {
    background-color: #E5E9F0;
    //tablet
    // height: 80%;
    //desktop
    height: 70%;
    padding: 48px;

    .table-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 95%;
        background: #FFFFFF;
        border-radius: 16px;
    }
}