.form-wrapper {
    background: #F5F6F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.invoice-form {
    display: flex;
    flex-direction: column;
    padding: 48px;
    width: 684px;
    height: 80%;
    background: #FFFFFF;
    border-radius: 16px;

    .form-header {
        align-items: center;
        text-align: center;

        h2 {
            margin: 0px;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            align-self: stretch;

        }

        p {

            width: 85%;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            display: flex;
            color: #525A67;
            margin-left: 46px;

        }
    }

    input {
        height: 30px;
        // width: 282px;
        border: none;
        border-bottom: 1.5px solid #E5E9F0;
        padding: 10px 0px 10px;
        outline: none;
        font-size: 16px;
        line-height: 26px;
    }


    span {
        margin-top: 10px;
        background: #FFE8E3;
        padding: 0px 5px;
        border-radius: 8px;
        font-size: 12px;
        line-height: 20px;
        color: #E3291D;
    }

    span::before {
        display: inline;
        content: "⚠ ";
    }

    .flex {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;

    }

    @media screen and (max-width: 800px) {
        .flex {
            flex-direction: column;
        }

    }

    .input-field {
        display: flex;
        flex-direction: column;
        width: 282px;
        margin-bottom: 10px;
    }

    .input-field-full {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .input-field-with-error {
        input {
            border-bottom: 1.5px solid #E3291D;
        }
    }

    .form_btn {
        margin-top: 40px;
    }

    .input-field-email {
        margin-top: 20px;
    }

    .input-field-phone {

        label {
            font-size: 12px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #9BA1B3;
        }

        input {
            width: 238px;
        }

        select {
            width: 20px;
            border: none;
        }

        img {
            border-radius: 20px;
            height: 24px;
            width: 24px;
        }

        .PhoneInput {
            display: inline-flex;
            align-items: center;
        }

        .PhoneInputCountry {
            display: flex;
            flex-direction: row-reverse;
            border-bottom: 1.5px solid #E5E9F0;
            height: 50px;
            align-items: center;
        }

        .phoneNumberCountry {
            height: 20px;
            width: 20px;
            border: none;
        }


    }

}